$white: #fff;
$selectedColor:#ccc;
$mainColor:#e5e5e5;
$hoverColor:$mainColor;
$activColor:#E1E1EE;
.wrapper {
  position: relative;
  display: inline-block;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:45px;
    right:0px;
    width: 200px;
    background-color: $white;
    font-weight:bold;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 195px;
    overflow: auto;
  }
  li {
    padding: 8px 16px;
    border-bottom: 1px solid $mainColor;
    &:last-child {
      border-bottom: none;
    }
    &.selected{
      color:$selectedColor;
    }
    &:hover {
      background-color: $hoverColor;
      color: $white;
    }
    &.active{
      background-color: $activColor;
      color: $white;
    }

  }
  .header{
    display: flex;
    cursor: pointer;
    align-items: center;
    width:178px;
    height:18px;
    background-color: $mainColor;
    padding:12px;
    border-radius:5px;
    font-weight:bold;
    color:$white;
    .separator{
      height: 30px;
      margin: 5px;
      border-right: 1px solid;
    }
    .header-title{
      flex: 1;
    }
    .up-down-icon, .close-icon{
      width: 20px;
      &:hover{
        color: #9e9797;
      }
    }
  }

}
